<launch>
<arg name="show_sign"  default="False"/>
<arg name="show_lane"  default="False"/>
<arg name="method"  default="histogram"/>
<arg name="simulation"  default="True"/>
<node pkg="control" args="--simulation $(arg simulation)" name="control" output="screen" type="control2.py" required="true"/>
<!-- <node pkg="control" name="localisation" output="screen" type="localisation.py" required="true"/> -->
<node pkg="control" name="encoderSim" output="screen" type="encoderSim.py" required="true"/>
<node pkg="control" name="lane" output="screen" type="lane" required="true"/>
<node pkg="control" args="--show $(arg show_sign)" name="sign" output="screen" type="sign_onnx.py" required="true"/>
</launch>
<!--
<node pkg="control" args="-show $(arg show_lane) -method $(arg method)" name="lane" output="screen" type="lane.py" required="true"/>
-->